// Surcharge la couleur de l'input de modification et d'édition
input, select {
  color: black!important;
}

// Change la couleur des champs disabled
.form-control:disabled, .form-control[readonly] {
  background: #323259;
  color: #FFFFFF!important;
}

