<div *ngIf="quotation" class="container">
  <div class="d-flex">
    <h6 class="text-info col-4">Devis</h6>
    <div class="col-8 d-flex justify-content-end">
      <button [disabled]="getStatus()" (click)="annuler()" class="btn btn-outline-danger">Refuser le devis</button>
      <button [disabled]="getStatus()" (click)="valider()" class="ml-4 btn btn-outline-success">Approuver le devis</button>
    </div>
  </div>

  <div>
    <h1>{{quotation.label}} - {{quotation.price | currency: 'EUR':true }}</h1>
    <p>{{quotation.shortDescription}}</p>

    <label *ngIf="quotation.status">Statut:
      <span *ngIf="quotation.status.label === 'En attente'" class="badge badge-primary">{{quotation.status.label}}</span>
      <span *ngIf="quotation.status.label === 'Accepté'" class="badge badge-success">{{quotation.status.label}}</span>
      <span *ngIf="quotation.status.label === 'Refusé'" class="badge badge-danger">{{quotation.status.label}}</span>
    </label>

    <div *ngIf="quotation.modules && quotation.modules.length > 0" class="d-flex row">
      <div *ngFor="let q of quotation.modules" class="card m-2" style="width: 18rem;">

        <div class="card-body">
          <h6 class="card-title mb-2 text-dark d-flex justify-content-between">
            <span>
              {{q.module.label}}
            </span>
            <span class="badge badge-info">
              {{q.count}}
            </span>
          </h6>
          <p class="card-text" *ngIf="q.module.description">{{q.module.description}}</p>
          <p class="card-text" *ngIf="q.module.shortDescription">{{q.module.shortDescription}}</p>
          <span (click)="redirect(q.module.id)" class="d-flex text-info clicked justify-content-end">Afficher</span>
        </div>
      </div>
    </div>

    <div class="mt-2" *ngIf="quotation.orders && quotation.orders.length > 0">
      <h6 class="text-info">Commande en cours</h6>

      <div *ngFor="let o of quotation.orders">

        <div class="d-flex row">
          <span class="col-12">Total payer: {{o.totalPaid | currency: 'EUR':true}}</span>
          <label class="col-12">
            Statut:
            <span *ngIf="o.status.label === 'En attente'" class="badge badge-primary">{{o.status.label}}</span>
          </label>

          <div *ngIf="o.payments && o.payments.length > 0" class="mt-4">

            <table class="table table-hover table-dark">
              <thead>
              <tr>
                <th scope="col">Type</th>
                <th scope="col">Total</th>
                <th scope="col">payer</th>
                <th scope="col">Restant</th>
                <th scope="col">Date de modification</th>
                <th scope="col">Actions</th>
              </tr>
              </thead>
              <tbody>

                <ng-container *ngFor="let p of o.payments">

                    <tr>
                      <th scope="row">
                        {{p.type.label}}
                      </th>
                      <td>{{p.total}}</td>
                      <td>{{p.currentlyPaid}}</td>
                      <td>{{p.leftToPay}}</td>
                      <td>{{p.updatedAt | date: 'short'}}</td>
                      <td>
                        <button class="btn btn-outline-primary" (click)="addPayment(p)">Ajouter un paiement</button>
                      </td>
                    </tr>
                </ng-container>

              </tbody>
            </table>
          </div>

        </div>


      </div>

    </div>

  </div>
</div>
